@media (min-width: 768px) {
    .bd-content {
        position: -webkit-sticky;
        position: sticky;
        /*top: 4rem;*/
        top: 0;
        z-index: 1000;
        height: calc(100vh - 50px);
    }

    .bd-sidebar {
        position: -webkit-sticky;
        position: sticky;
        /*top: 4rem;*/
        top: 0;
        z-index: 1000;
        height: calc(100vh - 50px);
    }
}

.order-detail {
    height: calc(100vh - 200px);
}