@media (min-width: 768px) {
    .bd-content {
        position: -webkit-sticky;
        position: sticky;
        /*top: 4rem;*/
        top: 0;
        z-index: 1000;
        /*height: calc(100vh - 4rem);*/
        /*height: calc(100vh);*/
        height: calc(100vh - 50px);
    }
}

.number-keyboard {
    width: 20% !important;
    display: -ms-flexbox;
    display: flex;
}

.number-keyboard > div {
    padding: 20px 30px;
}

.number-keyboard > div:last-child {
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pay-type-btn {
    width: 10%;
}