<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--适配移动端 -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>菜单</title>
    <!--css-->
    <link href="/source/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/source/bootstrap-4.4.1-dist/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/source/bootstrap-4.4.1-dist/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="/source/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/source/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <!--js-->
    <script type="text/javascript" src="/source/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/source/popper-2.1.1/popper.min.js"></script>
    <script type="text/javascript" src="/source/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/source/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/source/moment-2.24.0/moment-with-locales.js"></script>
    <script type="text/javascript"
            src="/source/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- 使用bootstrap-datetimepicker 需先引用 moment-with-locales -->
    <script type="text/javascript" src="/source/vue/vue.min.js"></script>
    <script type="text/javascript" src="/source/axios/axios.min.js"></script>
    <script type="text/javascript" src="/source/chart/Chart.min.js"></script><!-- Chartjs -->
    <script type="text/javascript" src="/utils/http.js"></script>
    <script type="text/javascript" src="/utils/apis.js"></script>
    <script type="text/javascript" src="/utils/util.js"></script>

</head>
<body>
<div id="home">
    <div class="position-fixed w-100 text-center" style="line-height: 50px">点单</div>
    <!--<div id="GetHeader" class="border-bottom position-fixed w-100">-->
    <!--<div id="GetHeader" class="border-bottom position-fixed row w-100 no-gutters">-->
    <div class="border-bottom position-fixed row w-100 no-gutters">
        <!--<get-header></get-header>-->
        <div class="row no-gutters" style="line-height: 50px;">
            <div class="ml-2">当前账号：{{as}}</div>
            <!--<button class="btn btn-dark ml-2">锁屏</button>-->
        </div>
    </div>
    <div class="nav pt-5">
        <!--结账菜单-->
        <!--<div id="GetSidebar" class="col-md-4 col-xl-3 bd-sidebar border-bottom-0 px-0">-->
        <div id="GetSidebar" class="col-md-4 col-xl-3 border-bottom-0 px-0">
            <div class="bg-success px-2 py-md-3 text-right pr-4">共 {{trade.total_num}} 件</div>
            <div class="bd-sidebar bd-links">
                <div class="container">
                    <div class="border-bottom py-2" v-for="item,index in order">
                        <div class="row align-items-center">
                            <div class="col-sm-6 px-2">
                                {{item.name}}
                            </div>
                            <div class="col-sm-3 px-2 text-center price">
                                ￥{{item.discount_price}}
                            </div>
                            <div class="col-sm-1 px-2 text-center">{{item.num}}</div>
                            <div class="col-sm-2 px-2 text-center" @click="cutOrderNum(index)">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="figure-caption text-right" v-if="item.num > 1">小计：￥{{item.subtotal}}</div>
                        <div class="figure-caption">{{item.remark ? "备注："+item.remark : ""}}</div>
                    </div>
                </div>
            </div>
            <div class="db-btns card">
                <div class="card-body py-0 px-0">
                    <!--追加挂单-->
                    <div class="text-center db-btn" :class="pending_order_num ? '' : 'text-secondary'"
                         v-if="trade.total_num <= 0 && appendTrade"
                         @click="cancleAppendTrade">取消追加
                    </div>
                    <div class="nav" v-if="trade.total_num > 0 && appendTrade">
                        <div class="text-center db-btn col-6"
                             @click="cancleAppendTrade">取消
                        </div>
                        <div class="text-center db-btn pending-order col-6 border-left text-danger"
                             @click="showPendingOrderModal">追加
                        </div>
                    </div>
                    <!--正常 不在追加挂单模式中-->
                    <div class="text-center db-btn" :class="pending_order_num ? '' : 'text-secondary'"
                         v-if="trade.total_num <= 0 && !appendTrade"
                         @click="pending_order_num ? toPage('pendingorder') : ''">取单
                        <span style="color:red" v-if="pending_order_num">({{pending_order_num}})</span></div>
                    <div class="nav" v-if="trade.total_num > 0 && !appendTrade">
                        <div class="text-center db-btn col-6"
                             @click="order=[];sessionStorage.removeItem('trade');_calculationTotal()">清空
                        </div>
                        <div class="text-center db-btn pending-order col-6 border-left text-danger"
                             @click="showPendingOrderModal">挂单
                        </div>
                    </div>
                    <div class="text-center db-btn" @click="toSettleAccounts">
                        收款 ￥{{trade.total_price}}
                    </div>
                </div>

            </div>
        </div>
        <!--可选菜单-->
        <main class="col-md-8 col-xl-9 py-md-0 pl-md-3 bd-content py-5" role="main">
            <!--分类名-->
            <div class="row">
                <div class="w-25 text-center border p-2"
                     :class="item.id == current_category_id ? 'bg-dark text-white' : ''"
                     v-for="item in category" @click="current_category_id=item.id;product=item.product">{{item.name}}
                </div>
            </div>
            <!--商品-->
            <div class="bd-sidebar bd-links row p-2"
                 :style="'height: calc(100vh - 99px - ' + 42 * Math.ceil(category.length / 4) + 'px)'">
                <div class="row no-gutters flex-wrap">
                    <!--商品卡片-->
                    <div class="card mb-3 mr-2" v-if="product.length" v-for="item in product" style="width: calc(27vh)">
                        <div class="row no-gutters" :style="item.stock == 0 ? 'opacity: 0.5' : ''">
                            <div @click="showModalProduct(item)" style="width: calc(10vh)">
                                <img :src="item.img+'?imageView2/1/w/100'" class="card-img" alt="...">
                            </div>
                            <div @click="addOrderNum(item)" style="width: calc(14vh)">
                                <div class="card-body p-0 ml-2 h-100 list-group justify-content-between">
                                    <div class="card-text flex-grow-1">{{item.name}}</div>
                                    <div class="card-text flex-shrink-0 price justify-content-between row-c">
                                        <div>￥{{item.price}}</div>
                                        <div v-if="item.stock <= 10">库存：{{item.stock}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="!product.length">暂无数据~</div>
                </div>
            </div>
            <div class="db-btns card border-0">
                <div class="card-body py-0 px-0 ">
                    <!--<div class="text-center db-btn row">-->
                    <!--<div class="input-group w-50 align-items-center">-->
                    <!--<input type="text" class="form-control" placeholder="输入商品关键字"-->
                    <!--aria-label="Recipient's username" aria-describedby="button-addon2">-->
                    <!--<div class="input-group-append">-->
                    <!--<button class="btn btn-outline-secondary" type="button" id="button-addon2">确定</button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="ml-3 alert-dark px-2">无码商品</div>-->
                    <!--</div>-->
                    <div class="text-center row db-btn align-items-center bg-dark">
                        <div style="width: 33% !important;" @click="signOut">交接班</div>
                        <div style="width: 33% !important;" @click="toPage('orderform')">销售单据</div>
                        <div style="width: 33% !important;" @click="toPage('product')">商品总览</div>
                    </div>
                </div>
            </div>
        </main>

        <!--商品备注/折扣编辑-->
        <div class="modal fade" id="modal_3" tabindex="-1" role="dialog" aria-labelledby="myModal3"
             data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row" style="font-size: 1.5rem;">
                        <div class="mx-5 flex-row w-100">
                            <!--sku改版-->
                            <!--<h5 class="border p-2" :class="current_sku_id == item.sku_id ? 'bg-info' : ''"-->
                            <!--v-for="item,index in tempOrderDetail.sku" @click="chooseSku(item.sku_id)">-->
                            <!--{{item.name}}</h5>-->
                            <div class="" v-for="item,index in valueArray">
                                <div>{{item.text}}</div>
                                <div class="row-c">
                                    <div :class="sku.select ? 'text-danger' : ''" v-for="sku in item.param"
                                         @click="selectParam(sku.text,index)">{{sku.text}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3 w-100 align-items-center mx-5 justify-content-between">
                            <span>原价：</span>
                            <span>￥{{tempOrderDetail.price}}</span>
                        </div>
                        <div class="input-group mb-3 w-100 align-items-center mx-5 justify-content-between">
                            <span>折扣：</span>
                            <input type="text" class="form-control h-100 text-right" placeholder=""
                                   oninput="value=value.replace(/[^\d.]/g,''),value=value.replace(/\.{2,}/g,'.'),value=value.replace('.','$#$').replace(/\./g,'').replace('$#$','.')"
                                   v-model="tempDiscount"
                                   @click="InputType('Discount')" :value="tempDiscount">
                            <span class="ml-2">%</span>
                        </div>
                        <div class="input-group mb-3 w-100 align-items-center mx-5 justify-content-between">
                            <span>现价：</span>
                            <!--<span>￥{{tempOrderDetail.discount_price}}</span>-->
                            <input type="text" class="form-control h-100 text-right" placeholder=""
                                   oninput="value=value.replace(/[^\d.]/g,''),value=value.replace(/\.{2,}/g,'.'),value=value.replace('.','$#$').replace(/\./g,'').replace('$#$','.')"
                                   v-model="tempDiscountPrice"
                                   @click="InputType('Price')">
                        </div>
                        <div class="input-group mb-3 w-100 align-items-center mx-5 justify-content-between">
                            <span>数量：</span>
                            <input type="text" class="form-control h-100 text-right" placeholder=""
                                   oninput="value=value.replace(/[^\d]/g,''),value=value.replace(/\.{2,}/g,'.'),value=value.replace('.','$#$').replace(/\./g,'').replace('$#$','.')"
                                   v-model="tempNum">
                        </div>
                        <div class="input-group mb-3 w-100 align-items-center mx-5 justify-content-between">
                            <span>小计：</span>
                            <span>￥{{tempOrderDetail.subtotal}}</span>
                        </div>
                        <div class="input-group mb-3 w-100 align-items-center mx-5">
                            <span>备注：</span>
                            <input type="text" class="form-control" placeholder=""
                                   aria-label="Example text with button addon"
                                   aria-describedby="button-addon1" v-model="tempOrderDetail.remark">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="modal_3_submit" @click="changeOrder">确定
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--订单结算-->
        <div class="modal fade" id="modal_order" tabindex="-1" role="dialog" aria-labelledby="myModalOrder"
             data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--<span aria-hidden="true">&times;</span>-->
                        <!--</button>-->
                    </div>
                    <div class="modal-body row">
                        <div class="mx-5 flex-row w-100 text-right">
                            <h5>总额 ￥{{trade.total_price}}</h5>
                            <h5 v-if="trade.total_diacount_price">折扣价 ￥{{trade.total_diacount_price}}</h5>
                        </div>
                        <div class="nav mx-5 flex-row w-100 mb-2 justify-content-between">
                            <div><input type="text" class="form-control text-right" placeholder="桌号"
                                        v-model="trade.table_number"></div>
                            <div><input type="text" class="form-control text-right" placeholder="人数"
                                        v-model="trade.dinners_number"></div>
                        </div>
                        <div class="input-group mb-3 w-100 align-items-center mx-5">
                            <input type="text" class="form-control text-right" placeholder="折扣"
                                   aria-label="Example text with button addon"
                                   aria-describedby="button-addon1"
                                   oninput="value=value.replace(/[^\d.]/g,''),value=value.replace(/\.{2,}/g,'.'),value=value.replace('.','$#$').replace(/\./g,'').replace('$#$','.')"
                                   v-model="totalPriceDiscount">
                            <div class="input-group-prepend text-center ml-2">
                                <span>%</span>
                            </div>
                        </div>
                        <div class="input-group mb-3 w-100 align-items-center mx-5">
                            <input type="text" class="form-control" placeholder="备注"
                                   v-model="trade.remark">
                        </div>
                        <div class="nav mx-5 flex-row">
                            <div class="text-center col-3 mb-1" v-for="item in discount_list">
                                <button class="btn btn-info py-2 px-1 w-100" @click="getDiscountToCalculation(item)">
                                    <h5>{{item}} {{item!="免单"&&item!="抹零"&&item!="原价" ? "折" : ""}}</h5></button>
                            </div>
                            <!--<div class="text-center col-3 mb-1">-->
                            <!--<button class="btn btn-info py-2 px-1 w-100" @click="getDiscountToCalculation(0)">-->
                            <!--<h5>免单</h5></button>-->
                            <!--</div>-->
                            <!--<div class="text-center col-3 mb-1">-->
                            <!--<button class="btn btn-info py-2 px-1 w-100" @click="getDiscountToCalculation('抹零')">-->
                            <!--<h5>抹零</h5></button>-->
                            <!--</div>-->
                        </div>
                        <div class="nav mx-5 flex-row w-100 text-center">
                            <!--<div class="text-center col-3 mb-1">-->
                            <!--<h5>支付方式:</h5>-->
                            <!--</div>-->
                            <div class="text-center col-4 mb-1" v-for="item in pay_type_list">
                                <button class="btn py-2 px-1 w-100"
                                        :class="item == trade.pay_type ? 'btn-dark' : 'btn-secondary'"
                                        @click="trade.pay_type=item">
                                    <h5>{{item}}</h5></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary flex-fill" data-dismiss="modal"
                                @click="restoreStock">取消
                        </button>
                        <button type="button" class="btn btn-primary flex-fill" id="modal_order_submit"
                                @click="submitOrder">确定
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--挂单-->
        <div class="modal fade" id="modal_pending_order" tabindex="-1" role="dialog" aria-labelledby="myModalOrder"
             data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <span>桌号：</span>
                            <input type="text" class="form-control" placeholder="桌号"
                                   aria-label="Example text with button addon"
                                   aria-describedby="button-addon1" v-model="pending_order.table_number">
                        </form>
                        <form>
                            <div class="form-group">
                                <label for="pending_order_remark" class="col-form-label">备注：</label>
                                <textarea class="form-control" style="min-height: 200px !important;"
                                          id="pending_order_remark"
                                          placeholder="在此输入备注信息" v-model="pending_order.remark"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary flex-fill" data-dismiss="modal"
                                @click="restoreStock">取消
                        </button>
                        <button type="button" class="btn btn-primary flex-fill" id="modal_pending_submit"
                                @click="submitPendingOrder">确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="MyModal">
        <my-loading></my-loading>
        <my-modal-1></my-modal-1>
    </div>
</div>
</body>
<!--js-->
<script type="text/javascript" src="/component/header.js"></script>
<script type="text/javascript" src="/component/datetimepicker.js"></script>
<script type="text/javascript" src="/component/modal.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
</html>