<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--适配移动端 -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>取单</title>
    <!--css-->
    <link href="/source/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/source/bootstrap-4.4.1-dist/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/source/bootstrap-4.4.1-dist/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="/source/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/source/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/orderform.css" rel="stylesheet">
    <!--js-->
    <script type="text/javascript" src="/source/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/source/popper-2.1.1/popper.min.js"></script>
    <script type="text/javascript" src="/source/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/source/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/source/moment-2.24.0/moment-with-locales.js"></script>
    <script type="text/javascript"
            src="/source/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- 使用bootstrap-datetimepicker 需先引用 moment-with-locales -->
    <script type="text/javascript" src="/source/vue/vue.min.js"></script>
    <script type="text/javascript" src="/source/axios/axios.min.js"></script>
    <script type="text/javascript" src="/source/chart/Chart.min.js"></script><!-- Chartjs -->
    <script type="text/javascript" src="/utils/http.js"></script>
    <script type="text/javascript" src="/utils/apis.js"></script>
    <script type="text/javascript" src="/utils/util.js"></script>

</head>
<body>
<div class="position-fixed w-100 text-center" style="line-height: 50px">取单</div>
<div id="GetHeader" class="position-fixed row w-100 no-gutters">
    <div id="backspace">
        <get-backspace></get-backspace>
    </div>
</div>
<div class="nav pt-5" id="orderform">
    <div id="GetSidebar" class="col-md-4 col-xl-3 border-bottom-0 px-0">
        <div class="nav justify-content-between bg-success px-2 py-md-3 text-right pr-4">
            <div>列表</div>
        </div>
        <div class="bd-sidebar bd-links" style="height:calc(100vh - 106px)">
            <!--<div class="container">-->
            <div class="border-bottom py-2 no-gutters" :class="cursor_id==index ? 'badge-info' : ''"
                 v-for="item,index in trade" @click="cursor(index)">
                <!--<div class="row no-gutters">-->
                <!--<div>牌号：</div>-->
                <!--<div class="col-sm-9 px-2">-->
                <!--{{item.trade_id}}-->
                <!--<span class="alert-danger btn-sm" v-if="item.after_sale_type==1">反</span>-->
                <!--<span class="alert-warning btn-sm" v-if="item.after_sale_type==2">退</span>-->
                <!--</div>-->
                <!--<div class="col-sm-3 px-2 text-center price">-->
                <!--￥{{item.actually_total_price}}-->
                <!--</div>-->
                <!--</div>-->
                <div class="row no-gutters">
                    <div class="col-sm-9 px-2" style="height: 25px">
                        {{item.table_number ? '桌号：'+item.table_number : ''}}
                    </div>
                    <div class="col-sm-9">
                        {{item.remark ? '备注：'+item.remark : ''}}
                    </div>
                    <div class="figure-caption text-right">
                        {{item.create_time}}
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
    <main class="col-md-8 col-xl-9 py-md-0 pl-md-3 bd-content py-5" role="main">
        <!--标题-->
        <div class="nav justify-content-between bg-info px-2 py-md-3 row">
            <div class="col-sm-5 px-2">商品名</div>
            <div class="col-sm-3 px-2 text-center">售价</div>
            <!--<div class="col-sm-2 px-2 text-center">折扣价</div>-->
            <div class="col-sm-3 px-2 text-center">数量</div>
            <div class="col-sm-1 px-2 text-center"></div>
        </div>
        <div class="bd-sidebar bd-links row px-2 py-md-3 order-detail" style="height:calc(100vh - 150px)"
             v-if="trade.length">
            <div class="nav flex-wrap flex-row align-items-center mb-2 pb-2 border-bottom"
                 v-for="item,index in order" v-if="item.number"> <!--此处用order（编辑中数据）  结算用trade[cuursor].order(服务器数据)-->
                <!--订单商品详情-->
                <div class="col-sm-5 px-2">
                    <div>{{item.name}}<span class="figure-caption" v-for="sku in item.param"> —{{sku}}</span></div>
                    <div class="figure-caption">{{item.note ? "备注："+item.note : ""}}</div>
                </div>
                <!--<div class="col-sm-2 px-2 text-center">{{item.price}}</div>-->
                <div class="col-sm-3 px-2 text-center row-c">
                    <input type="text" class="form-control h-100"
                           @input="item.discount_price=item.discount_price.replace(/[^\d.]/g,''),item.discount_price=item.discount_price.replace(/\.{2,}/g,'.'),item.discount_price=item.discount_price.replace('.','$#$').replace(/\./g,'').replace('$#$','.')"
                           v-model="item.discount_price">
                    <button type="button" class="btn btn-secondary"
                            @click="updatePendingOrderData(item,'updateDiscountPrice')">确定
                    </button>
                    <button type="button" class="btn btn-secondary"
                            @click="cancleDataUpdate()">取消
                    </button>
                </div>
                <div class="col-sm-3 px-2 text-center">
                    <div class="nav justify-content-center align-items-center">
                        <div class="text-center" @click="updatePendingOrderData(item,'cuteNum')">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"/>
                            </svg>
                        </div>
                        <!--<div class="mx-2">{{item.number}}</div>-->
                        <div class="row-c mx-2 w-50">
                            <input type="text" class="form-control h-100 w-50"
                                   @input="item.number=item.number.replace(/[^\d]/g,'')"
                                   v-model="item.number">
                            <button type="button" class="btn btn-secondary"
                                    @click="updatePendingOrderData(item,'updateNum',index)">确定
                            </button>
                            <button type="button" class="btn btn-secondary"
                                    @click="cancleDataUpdate()">取消
                            </button>
                        </div>
                        <div class="text-center" @click="updatePendingOrderData(item,'addNum')">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-3 px-2 text-center">{{item.number}}-->
                <!--<span class="badge-success btn-sm" v-if="item.return_number">退{{item.return_number}}</span>-->
                <!--</div>-->
                <!--<div class="col-sm-1 px-2 text-center" @click="updatePendingOrderData(item,'cuteNum')">-->
                <!--<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill"-->
                <!--fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
                <!--<path fill-rule="evenodd"-->
                <!--d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"/>-->
                <!--</svg>-->
                <!--</div>-->
            </div>
            <div class="alert-info p-2" v-if="trade[cursor_id].after_sale_type == 1">
                备注：{{trade[cursor_id].after_sale_remark}}
            </div>
        </div>
        <div class="db-btns card border-0" v-if="trade.length">
            <div class="card-body py-0 px-0">
                <!--<div class="justify-content-between db-btn row mr-2">-->
                <!--<div class="px-2">件数：{{trade[cursor_id].goods_total_number}}</div>-->
                <!--<div class="ml-3 px-2">总计：{{trade[cursor_id].goods_total_price}}&nbsp;&nbsp;&nbsp;应收(计算折扣后)：{{trade[cursor_id].actually_total_price}}&nbsp;&nbsp;&nbsp;{{trade[cursor_id].pay_method}}</div>-->
                <!--</div>-->
                <div class="text-center row db-btn align-items-center justify-content-end bg-dark">
                    <!--<div class="w-25" @click="updatePendingOrderData('','invalidRemark')">作废</div>-->
                    <div class="w-25" @click="showInvalidRemarkModal">作废</div>
                    <div class="w-25" @click="appendTrade">追加</div>
                    <div class="w-25" @click="calculationTotal">收银</div>
                </div>
            </div>
        </div>
    </main>

    <!--挂单作废-->
    <div class="modal fade" id="modal_invalid_remark" tabindex="-1" role="dialog"
         aria-labelledby="myModalInvalidRemark" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">备注</label>
                            <textarea class="form-control" style="min-height: 200px !important;" id="message-text"
                                      placeholder="备注" v-model="invalid_remark"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="modal_invalid_remark_submit"
                            @click="updatePendingOrderData('','invalidRemark')">确定
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--订单结算-->
    <div class="modal fade" id="modal_order" tabindex="-1" role="dialog" aria-labelledby="myModalOrder"
         data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body row">
                    <div class="mx-5 flex-row w-100 text-right">
                        <h5>总额 ￥{{submit_trade.total_price}}</h5>
                        <h5 v-if="submit_trade.total_diacount_price">折扣价 ￥{{submit_trade.total_diacount_price}}</h5>
                    </div>
                    <div class="nav mx-5 flex-row w-100 mb-2 justify-content-between">
                        <div><input type="text" class="form-control text-right" placeholder="桌号"
                                    v-model="submit_trade.table_number"></div>
                        <div><input type="text" class="form-control text-right" placeholder="人数"
                                    v-model="submit_trade.dinners_number"></div>
                    </div>
                    <div class="input-group mb-3 w-100 align-items-center mx-5">
                        <input type="text" class="form-control text-right" placeholder="折扣"
                               aria-label="Example text with button addon"
                               aria-describedby="button-addon1"
                               oninput="value=value.replace(/[^\d.]/g,''),value=value.replace(/\.{2,}/g,'.'),value=value.replace('.','$#$').replace(/\./g,'').replace('$#$','.')"
                               v-model="totalPriceDiscount">
                        <div class="input-group-prepend text-center ml-2">
                            <span>%</span>
                        </div>
                    </div>
                    <div class="input-group mb-3 w-100 align-items-center mx-5">
                        <input type="text" class="form-control" placeholder="备注"
                               v-model="submit_trade.remark">
                    </div>
                    <div class="nav mx-5 flex-row">
                        <div class="text-center col-3 mb-1" v-for="item in discount_list">
                            <button class="btn btn-info py-2 px-1 w-100" @click="getDiscountToCalculation(item)">
                                <h5>{{item}} {{item!="免单"&&item!="抹零"&&item!="原价" ? "折" : ""}}</h5></button>
                        </div>
                    </div>
                    <div class="nav mx-5 flex-row w-100 text-center">
                        <div class="text-center col-4 mb-1" v-for="item in pay_type_list">
                            <button class="btn py-2 px-1 w-100"
                                    :class="item == submit_trade.pay_type ? 'btn-dark' : 'btn-secondary'"
                                    @click="submit_trade.pay_type=item">
                                <h5>{{item}}</h5></button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary flex-fill" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary flex-fill" id="modal_order_submit"
                            @click="submitOrder">确定
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="MyModal">
        <my-loading></my-loading>
        <my-modal-1></my-modal-1>
    </div>
</div>
</body>
<!--js-->
<script type="text/javascript" src="/component/header.js"></script>
<script type="text/javascript" src="/component/datetimepicker.js"></script>
<script type="text/javascript" src="/component/modal.js"></script>
<script type="text/javascript" src="/js/pendingorder.js"></script>
</html>