<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--适配移动端 -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>结算</title>
    <!--css-->
    <link href="/source/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/source/bootstrap-4.4.1-dist/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/source/bootstrap-4.4.1-dist/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="/source/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/source/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/settleaccounts.css" rel="stylesheet">
    <!--js-->
    <script type="text/javascript" src="/source/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/source/popper-2.1.1/popper.min.js"></script>
    <script type="text/javascript" src="/source/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/source/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/source/moment-2.24.0/moment-with-locales.js"></script>
    <script type="text/javascript"
            src="/source/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- 使用bootstrap-datetimepicker 需先引用 moment-with-locales -->
    <script type="text/javascript" src="/source/vue/vue.min.js"></script>
    <script type="text/javascript" src="/source/axios/axios.min.js"></script>
    <script type="text/javascript" src="/source/chart/Chart.min.js"></script><!-- Chartjs -->
    <script type="text/javascript" src="/utils/http.js"></script>
    <script type="text/javascript" src="/utils/apis.js"></script>
    <script type="text/javascript" src="/utils/util.js"></script>

</head>
<body>
<div class="position-fixed w-100 text-center" style="line-height: 50px">收款</div>
<div id="GetHeader" class="border-bottom position-fixed row w-100 no-gutters">
    <get-header></get-header>
    <div class="row" style="line-height: 50px">
        <div class="ml-2">当前账号：1001</div>
    </div>
</div>
<div class="nav pt-5" id="settleaccounts">
    <div id="discount">
        <get-discount></get-discount>
    </div>
    <main class="nav mx-auto bd-content w-75 flex-column" role="main">
        <!--金额/支付方式-->
        <div class="flex-grow-1 row flex-column justify-content-around">
            <div class="container-fluid my-4 flex-grow-1">
                <div class="input-group mb-3 h-100">
                    <div class="input-group-prepend pay-type-btn text-center">
                        <button class="btn w-100" type="button" id="button-addon1">总额</button>
                    </div>
                    <input type="text" class="form-control h-100 text-right" style="font-size: 2rem;" placeholder=""
                           aria-label="Example text with button addon"
                           aria-describedby="button-addon1"
                           oninput="value=value.replace(/[^\d.]/g,'')" v-model="total_price"
                           @click="getCurrentInput(0)">
                    <div class="input-group-prepend ml-2 pay-type-btn">
                        <button class="btn btn-dark w-100">现金</button>
                    </div>
                    <div class="input-group-prepend ml-2 pay-type-btn">
                        <button class="btn btn-dark w-100">储值卡</button>
                    </div>
                </div>
            </div>
            <div class="container-fluid my-4 flex-grow-1">
                <div class="input-group mb-3 h-100">
                    <div class="input-group-prepend pay-type-btn text-center">
                        <button class="btn w-100" type="button" id="button-addon2">现金</button>
                    </div>
                    <input type="text" class="form-control h-100 text-right" style="font-size: 2rem;" placeholder=""
                           aria-label="Example text with button addon"
                           aria-describedby="button-addon2"
                           oninput="value=value.replace(/[^\d.]/g,'')" v-model="pay_price" @click="getCurrentInput(1)">
                    <div class="input-group-prepend ml-2 pay-type-btn">
                        <button class="btn btn-dark w-100">微信</button>
                    </div>
                    <div class="input-group-prepend ml-2 pay-type-btn">
                        <button class="btn btn-dark w-100">银联卡</button>
                    </div>
                </div>
            </div>
            <div class="container-fluid my-4 flex-grow-1">
                <div class="input-group mb-3 h-100">
                    <div class="input-group-prepend pay-type-btn text-center">
                        <button class="btn w-100" type="button" id="button-addon3">找零</button>
                    </div>
                    <input type="text" class="form-control h-100 text-right" style="font-size: 2rem;" placeholder=""
                           aria-label="Example text with button addon"
                           aria-describedby="button-addon3"
                           oninput="value=value.replace(/[^\d.]/g,'')" v-model="change_price">
                </div>
            </div>
        </div>
        <!--数字键盘-->
        <div class="flex-shrink-0">
            <div class="nav">
                <div class="flex-column number-keyboard" v-for="list,keyIndex in keyboard">
                    <div class="text-center" :class="keyIndex <= 2 ? 'btn-dark' : 'btn-danger'" v-for="item in list"
                         @click="hitKeyboard(item,keyIndex)">
                        {{item}}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="modal_2" tabindex="-1" role="dialog" aria-labelledby="myModal2" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">
                    <div class="mx-5 flex-row w-100 text-right">
                        <h5>总额 ￥{{total_price}}</h5>
                        <h5>折扣价 ￥{{discount_price}}</h5>
                    </div>
                    <div class="input-group mb-3 w-100 align-items-center mx-5">
                        <input type="text" class="form-control text-right" placeholder=""
                               aria-label="Example text with button addon"
                               aria-describedby="button-addon1"
                               oninput="value=value.replace(/[^\d.]/g,'')">
                        <div class="input-group-prepend text-center ml-2">
                            <span>%</span>
                        </div>
                    </div>
                    <div class="nav mx-5 flex-row">
                        <div class="text-center col-6 mb-2" v-for="item in discount_list">
                            <button class="btn btn-info py-2 px-4 w-100" @click="getDiscountToCalculation(item)">
                                <h5>{{item}} 折</h5></button>
                        </div>
                        <div class="text-center col-6 mb-2">
                            <button class="btn btn-info py-2 px-4 w-100" @click="getDiscountToCalculation(0)">
                                <h5>免单</h5></button>
                        </div>
                        <div class="text-center col-6 mb-2">
                            <button class="btn btn-info py-2 px-4 w-100" @click="getDiscountToCalculation('抹零')">
                                <h5>抹零</h5></button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>-->
                    <button type="button" class="btn btn-primary" id="modal_2_submit" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div id="MyModal">
        <my-loading></my-loading>
        <my-modal-1></my-modal-1>
        <!--<my-modal-discount></my-modal-discount>-->
    </div>
</div>
</body>
<!--js-->
<!--<script type="text/javascript" src="/js/settleaccounts.js"></script>-->
<script type="text/javascript" src="/component/header.js"></script>
<script type="text/javascript" src="/component/datetimepicker.js"></script>
<script type="text/javascript" src="/component/modal.js"></script>
<script type="text/javascript" src="/js/settleaccounts.js"></script>
</html>